
<div class="row d-flex align-items-center justify-content-center " style="z-index: 1;min-height:100vh;" >
  <app-cargando style="z-index: 1000;" *ngIf="mostrarLoading"></app-cargando>
  <div class="col-4">
    <form [formGroup]="formulario" (ngSubmit)="Login()" class="shadow-sm">
      <div class="form-group">
        <div class="mt-2 mb-2 d-block text-center">
          <img class="imagen" src="https://media.istockphoto.com/vectors/online-shopping-digital-store-concept-vector-id1256806812">
          <p class="mt-2 mb-2">Inicio De Sesión</p>
        </div>
        <!-----------------------------Usuario--------------------------------->
        <div class="input-group justify-content-center mt-4 mb-4">
          <div class="input-group-prepend">
            <div class="input-group-text  bg-white" [class.border-bottom-red]="this.formulario.get('usuario')?.invalid && this.formulario.get('usuario')?.touched" [class.border-bottom-green]="this.formulario.get('usuario')?.valid && this.formulario.get('usuario')?.touched">
              <i class="fas fa-user-circle"></i>
            </div>
            <input type="text" name="usuario" formControlName="usuario" autocomplete="off" class="form-control">
          </div>
        </div>
        <!-----------------------------Contrasena--------------------------------->
        <div class="input-group justify-content-center mt-4 mb-3">
          <div class="input-group-prepend ">
            <div class="input-group-text  bg-white" [class.border-bottom-red]="this.formulario.get('contrasena')?.invalid && this.formulario.get('contrasena')?.touched" [class.border-bottom-green]="this.formulario.get('contrasena')?.valid && this.formulario.get('contrasena')?.touched">
              <i class="fas fa-key"></i>
            </div>
            <input type="password" name="contrasena" formControlName="contrasena" autocomplete="off" class="form-control">
          </div>
        </div>
        <!------------------------------ Botones -------------------------------->
        <div class="input-group justify-content-center">
          <span class="d-block mt-0 mb-3 pt-0 pb-0  text-center text-danger" *ngIf="credencialesIncorrectas" style="font-size: 0.9pc;"><i class="fas fa-circle text-danger mb-1" style="font-size: 0.6pc;"></i>  {{mensajeDeError}}</span>
        </div>
        <div class="input-group justify-content-center">
          <button class="btn btn-success btn-block w-50 p-2" [disabled]="this.formulario.invalid" type="submit" [ngClass]="{'mt-0':credencialesIncorrectas==true,'mt-4':credencialesIncorrectas==false}" style="margin-bottom: 8px;" *ngIf="!cargandoIngresando"> <i class="fas fa-sign-in-alt"></i> Ingresar </button>
          <button class="btn btn-success btn-block w-50 p-2" [ngClass]="{'mt-0':credencialesIncorrectas==true,'mt-4':credencialesIncorrectas==false}" style="margin-bottom: 8px;" *ngIf="cargandoIngresando" disabled> <i class="spinnerSingle"></i> Ingresando...</button>
        </div>
        <div class="input-group justify-content-center mt-2">
          <small class="text-primary cursoPointer" [routerLink]="['../registrar']">¿No tiene cuenta?, Registrarse</small>
        </div>
        <div class="input-group justify-content-center">
          <span for="derechos" class="text-muted d-block text-danger" style="font-size: 14px;height: 10%;" [ngClass]="{'mt-2':credencialesIncorrectas==true,'mt-3':credencialesIncorrectas==false}">Derechos reservados &#169; {{anno}} Edison Peña</span>
        </div>
      </div>
    </form>
  </div>
</div>

