<div class="row animate__animated animate__fadeIn animate__delay-0.2s">

  <div class="col-12">

    <div class="card text-center mt-2">
      <div class="card-header text-left bg-white">
        <div class="card-title">
          <h5 *ngxPermissionsOnly="['Comprador']"><i class="fas fa-shopping-cart"></i> Pedidos De {{NombreComprador}} {{ApellidoComprador}}</h5>
          <h5 *ngxPermissionsOnly="['Vendedor']"><i class="fas fa-store "></i> Ventas De {{NombreComprador}} {{ApellidoComprador}}</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="col-12" *ngIf="Pedidos.length > 0">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 " *ngFor="let pedido of Pedidos">
              <tarjeta-pedidos-usuarios class="col-12"
                                          [PedidoId]="pedido.pedidoID"
                                          [PaisDestino]="pedido.paisDestino"
                                          [ProvinciaDestino]="pedido.provinciaDestino"
                                          [SectorDestino]="pedido.sectorDestino"
                                          [FormaPago]="pedido.formaDePago"
                                          [Precio]="pedido.precio"
                                          [Articulo]="pedido.nombre">

              </tarjeta-pedidos-usuarios>
            </div>
          </div>
          
        </div>
        <div class="col-12" *ngIf="Pedidos.length == 0">
          <div class="alert alert-primary">
            <h5 class="text-primary"><i class="fas fa-exclamation-circle fa-1x"></i> Este usuario no tiene pedidos </h5>
          </div>
        </div>

        </div>
      </div>


  </div>
 

</div>
