<div class="row">
  <div class="col-12">
    <div class="card text-center mt-2">
      <div class="card-header text-left bg-white">
        <h5 class="card-title"><i class="fas fa-credit-card"></i> Cuentas De {{NombreComprador}} {{ApellidoComprador}}</h5>
      </div>
      <div class="card-body">
        <div class="col-12" *ngIf="Cuentas.length > 0">
          <div class="row" style="max-height:50vh;overflow:auto">
            <div *ngFor="let cuenta of Cuentas" class="col-6">
              <card-cuentas-usuarios [NumeroTarjeta]="cuenta.numeroTarjerta" [CuentaID]="cuenta.cuentaId" [Balance]="cuenta.balance"></card-cuentas-usuarios>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="Cuentas.length == 0">
          <div class="alert alert-primary">
            <h5 class="text-primary"><i class="fas fa-exclamation-circle fa-1x"></i> Este usuario no tiene cuentas de pagos agregadas </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
